
body{
    background-color: #9b59b6 !important;
}


.rawaper{
    background-color: #fff;
    max-width:400px;
    padding: 25px;
 
    margin: 50px auto 0;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.925);
    border-radius: 30px;
    height: 500px;
 

}

.rawaper h1{
    text-align: center;
    color: #000;
    line-height: 24px;
    padding-bottom: 30px;
    text-shadow: 0 0 3px #f5bb1ace;
    font-size: 24px;
    margin-top: 109px;
}

.form-grop{
    width: 90%;
    position: relative;
    margin: 20px auto;
}

.name{
    outline: none;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #9b59b6;
}

.fas{     position: absolute;
    font-size: 13px;
    top: 10px;
 


}

.input-name i{  
  
    }

    .name{
        width: 100%;
        padding: 2px 1px 4px 23px;

    }



    .button{
        border: none;
        outline: none;
        background-color: #9b59b6;
        color: #000;
        font-size: 20px;
        padding: 10px 23px;
        border-radius: 5px;
        font-weight: 700;
        box-shadow: 0 5px 11px #000000c7;
     
        margin: 34px 9px 5px 1px;
        cursor: pointer;
     
        
      
  
       
    }
   



  